/*
 * Copyright (c) 2023 Microchip Technology Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zephyr,shell-uart = &uart1;
    };

    aliases {
        led0 = &led2;
        wk-btn = &s2;
    };

    zephyr,user {
        himax-wk-gpios = <MCHP_GPIO_DECODE_140 GPIO_ACTIVE_HIGH>;
    };

    pwmfans {
        compatible = "pwm-leds";
        fan0: fan0 {
            pwms = <&pwm1 0 PWM_USEC(40) PWM_POLARITY_NORMAL>;
        };
    };

    tst_clk_out: tst_clk_out {
        compatible = "vnd,pinctrl-device";
        pinctrl-0 = <&tst_clk_out_gpio060>;
        pinctrl-names = "default";
        status = "okay";
    };

    soc {
        /delete-node/ i3c@40010800;
        i3c0: i3c@40010800 {
            compatible = "microchip,mchp-i3c";
            #address-cells = <3>;
            #size-cells = <0>;
            reg = <0x40010800 0x300>,
                  <0x40010B00 0x018>;
            interrupts = <181 2>;
            girqs = <MCHP_XEC_ECIA_GIRQ_ENC(13, 8)>;
            pcr-scr = <MCHP_XEC_SCR_ENCODE(4, 25)>;
            input-clock-frequency = < DT_FREQ_M(192) >;
            i3c-scl-hz = <DT_FREQ_K(2000)>;
            i2c-scl-hz = <DT_FREQ_K(400)>;

            // port-sel = <0>;
            // pinctrl-0 = <&i3c00_host_sda_gpio132 &i3c00_host_scl_gpio140>; // TP252
            port-sel = <1>;
            pinctrl-0 = <&i3c01_host_sda_gpio012 &i3c01_host_scl_gpio013>; // TP257
	        pinctrl-names = "default";

            status = "okay";
		};

        /delete-node/ i3c@40010000;
        i3c1: i3c@40010000 {
            compatible = "microchip,mchp-i3c";
            #address-cells = <3>;
            #size-cells = <0>;
            reg = <0x40010000 0x400>,
                  <0x40010400 0x02C>;
            interrupts = <182 2>;
            girqs = <MCHP_XEC_ECIA_GIRQ_ENC(13, 9)>;
            pcr-scr = <MCHP_XEC_SCR_ENCODE(4, 26)>;
            input-clock-frequency = < DT_FREQ_M(192) >;
            i3c-scl-hz = <DT_FREQ_K(2000)>;
            i2c-scl-hz = <DT_FREQ_K(400)>;

            port-sel = <0>;
            pinctrl-0 = <&i3c00_target_sda_gpio132 &i3c00_target_scl_gpio140>; // TP252
            // port-sel = <1>;
            // pinctrl-0 = <&i3c01_target_sda_gpio012 &i3c01_target_scl_gpio013>; // TP257
	        pinctrl-names = "default";

            status = "disabled";
		};
    };
};

&i3c0 {
    himax_dev: himax_dev@20000002c400130000 {
        compatible = "microchip,i3c-fake-target";
        reg = < 0x20 0x02C4 0x00130000 >;
        /* Dynamic Address To Be Assigned To The Device */
        // assigned-address = <0x5C>;
        // supports-setaasa;
        status = "okay";
    };
};

&pwm1 {
    compatible = "microchip,xec-pwm";
    pcr-scr = <MCHP_XEC_SCR_ENCODE(1, 20)>;
    pinctrl-0 = < &pwm1_gpio054 >;
    pinctrl-names = "default";
    status = "okay";
};

&tach0{
	compatible = "microchip,xec-tach";
    girqs = <MCHP_XEC_ECIA_GIRQ_ENC(17, 1)>;
    pcr-scr = <MCHP_XEC_SCR_ENCODE(1, 2)>;
	status = "okay";
	pinctrl-0 = < &ict0_tach0_gpio050 >;
	pinctrl-names = "default";
};
